body{
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: grey;
  -webkit-font-smoothing: antialiased;
}
/* main */
h2.title{
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}
a{
  color: inherit;
  text-decoration: none;
}
/* container */
.newsletter{
  width: 700px;
  height: 992px;
  overflow: hidden;
  background-color: white;
}
/* header */
.newsletter__header{
  display: flex;
  height: 295px;
  align-items: center;
  overflow: hidden;
  padding: 0 27px;
  background-color: white;
  position: relative;
}
.newsletter__header:after{
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(30, 88, 149, 0.40);
  position: absolute;
}
.title-header{
  color: white;
  position: relative;
  z-index: 1;
}
.title-header:after{
  content: '';
  width: 317px;
  height: 75px;
  top: -8px;
  left: -28px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/gradient.png);
  position: absolute;
}
.title-header > h2{
  margin: 0;
  text-transform: uppercase;
}
.newsletter__header img{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  position: absolute;
}
.circle-logo{
  width: 270px;
  height: 270px;
  top: -34px;
  right: 0;
  position: absolute;
  z-index: 1;
}
.circle-logo > img{
  object-fit: scale-down;
}
/* content */
.newsletter__content{
  display: grid;
  grid-template-columns: 270px 1fr;
  height: 697px;
}
.newsletter__content--left{
  color: white;
  padding: 60px 20px 20px;
  background-color: #1E5895;
  position: relative;
}
.newsletter__content--right{
  padding: 60px 40px 30px;
  background-color: white;
}
.newsletter__content--left > h2{
  margin-bottom: 50px;
}
.list{
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
.list__number > span{
  display: flex;
  width: 25px;
  height: 25px;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.20);
}
.list__text > h3{
  font-size: 13px;
  margin: 0;
}
.list__text > p{
  font-size: 11px;
  font-weight: 300;
  margin: 0;
}
.logo-footer{
  bottom: 20px;
  position: absolute;
}
.box-text{
  margin-bottom: 60px;
}
.box-text:last-child{
  margin-bottom: 0;
}
.box-text > h2{
  color: #1E5895;
}
.box-text > p{
  font-size: 11px;
  font-weight: 300;
  text-align: justify;
}
.box-text .href-button{
  display: inline-block;
  font-size: 11px;
  color: white;
  margin-top: 10px;
  padding: 6px 17px;
  border-radius: 50px;
  background-color: #F18A00;
}